name: Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - 'chart/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'chart/**'

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Running Unit Tests
        run: |
          go mod tidy
          make test
